*{
    padding:0;
    margin: 0;
}
.ke-container{
    background: #fff;
    padding-top: 20px;
}
#canvas .ke-schedule {
    width: 100%;
    float: left;
    text-align: center;
    position: relative;
}
.ke-box{
    position: relative;
    width: 33.3%;
    float: left;
}
#percent1,#percent2,#percent3{
    display: none;
}
.ke-category{
    position: absolute;
    top: 50px;
    text-align: center;
    color: #b0b0b0;
    font-size: 12px;
    display: block;
    width: 100%;
}