.blue-slide {
    background: #4390EE;
}
.red-slide {
    background: #CA4040;
}
.orange-slide {
    background: #FF8604;
}
.swiper-slide {
    line-height: 300px;
    color: #fff;
    font-size: 36px;
    text-align: center;
}