*{
    padding:0;
    margin:0;
    list-style:none;
}
.ke-banner{
    margin:100px auto;
    border:5px solid rgba(7, 191, 243, 0.28);
    width:550px;
    height:300px;
    overflow:hidden;
    position:relative;
}
.ke-banner .img{
    width:5000px;
    position:absolute;
    left:0px;
    top:0;
}
.ke-banner .img li{
    float:left;
}
.ke-num{
    position:absolute;
    width:100%;
    bottom:10px;
    left:0;
    text-align:center;
    font-size:0px;
}
.ke-num li{
    width:10px;
    height:10px;
    background:#888;
    border-radius:50%;
    display:inline-block;
    margin:0 3px;
    cursor:pointer;
}
.ke-num li.on{
    background:rgba(7, 191, 243,1);
}
.ke-btn{
    width:30px;
    height:50px;
    background:rgba(0,0,0,0.5);
    position:absolute; top:50%;
    margin-top:-25px; cursor:pointer;
    text-align:center;
    line-height:50px;
    color:#fff;
    font-size:40px;
    font-family:"宋体";
    display:none;
}
.ke-banner:hover .ke-btn{
    display:block;
}
.btn_l{
    left:0;
}
.btn_r{
    right:0;
}